#display-mech {
  margin-left: 30px;
}

#display-mech h2 {
  color: #ffc404;
}

table {
  padding: 3px;
}

td {
  padding: 2px;
}

#armor-table tr td:first-child {
  text-align: left;
}

#armor-table td {
  text-align: center;
}

#armor-table th {
  font-style: italic;
}

#equipment-table tr td:first-child {
  text-align: left;
}

#equipment-table td {
  text-align: center;
}

.substract-tons {
  text-align: right;
  margin-left: 20px;
}

.display-critical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.zone {
  font-size: small;
  margin: 0 15px;
}

.larm .flleg {
  grid-column: 1;
  grid-row: 1;
}
.ltorso {
  grid-column: 1;
  grid-row: 2;
}

.lleg .rlleg {
  grid-column: 1;
  grid-row: 3;
}
.head {
  margin-top: 40%;

  grid-column: 2;
  grid-row: 1;
}
.ctorso {
  margin-top: 40%;
  grid-column: 2;
  grid-row: 2;
}
.empty {
  grid-column: 2;
  grid-row: 3;
}

.rarm .frleg {
  grid-column: 3;
  grid-row: 1;
}
.rtorso {
  grid-column: 3;
  grid-row: 2;
}
.rleg .rrleg {
  grid-column: 3;
  grid-row: 3;
}
