.navbar {
  margin: 5px 10px;
  padding: 5px;
}

.navbar-button.MuiButton-root {
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  margin: 10px;
  align-items: center;
}

.navbar-button.MuiButton-root:hover,
.navbar-button.MuiButton-root:focus {
  color: whitesmoke;
  background-color: orange;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.advanced-options-active {
  border: solid orange 3px;
}
