.navbar {
  margin: 5px 10px;
  padding: 5px;
}

.navbar button {
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  padding: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0.25rem;
}

.navbar button:hover,
.navbar button:focus {
  background-color: #ffc404;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
